<body>
  <p class='text-3xl font-bold underline'>Dear {{name}},</p>
  <p>Use OTP:
    <span style='color: blueviolet; font-weight: bolder;'>{{otp}}</span>
    for validation process. This OTP will be valid for 3 minutes. Please do not
    share it with anyone.</p>
  <p style=''>- CCU-CFS</p>
</body>